/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

*::after{
  box-sizing: border-box;
}

header{
  width: 100%;
  position: fixed;
  height:60px;
  text-align: center;
  background-color: #000080;
  top: 0;
  z-index: 10;
}

header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  line-height: 60px;

}

header nav ul li a{
  color:white;
  font-size: 1.2rem;
}

header nav ul li a:hover{
  border-bottom: 1px solid white;
}

.top_wrapper img{
  width: 100%;


}

.counseling{
  margin-top: 0;
  background-image: url(https://github.com/fumiya9107/fumiya-lp/blob/main/2mdpi.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width:100%;
  text-align: center;
  color:white;
  padding-top: 30px;
  margin-bottom: 200px;
}
 .counseling h1{
   font-size: 2.0rem;
   padding-bottom: 10px;
   color:black;
 }

 .counseling span{
   color:#ff7bac;
 }

 .counseling p{
   font-size: 1.5rem;
   color:black;
   font-weight: bold;
   padding-top: 10px;
 }

.counseling img{
  width:250px;
  padding-top: 10px;
}


.step{
  margin-top: 60px;
  margin-bottom: 100px;

}
.step h1{
  font-size:2.0rem;
  text-align: center;
}

.step h1 span{
  color:#00d2e2;
}

.step_contents{
  text-align: center;
}


.number{
  background-color: #000080;
  color: white;
  width: 60%;
  border-radius: 10px;
  margin: 30px auto;
  padding:10px 0 10px 0;
  font-weight: bold;
  font-size: 2.0rem;
}

.step_title{
  font-weight: bold;
  font-size: 1.8rem;
}

.step_text{
  padding-bottom: 30px;
  font-size: 1.5rem;
}

.step_img{
  width:200px;
  padding:20px 0;
}

.recomend{
  background-image: url(https://github.com/fumiya9107/fumiya-lp/blob/main/209b4ba5dbb88826d9ca551f51dd28f5_t.jpeg?raw=true);
  height:850px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;

}

.recomend_contents{
  width: 80%;
  max-width: 768px;
  margin: 0 auto;
  background-color: white;
  padding: 50px 15px ;
  border: 2px solid #00d2e2;
}

.recomend_contents h1{
  text-align: center;
  font-size: 2.0rem;
  padding-bottom: 20px;
}

.recomend_contents ul li{
  list-style-position: inside;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

.recomend_contents p{
  text-align: center;
  line-height: 40px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 1.8rem;
}

.prof{
  margin-bottom: 200px;
}

.prof h1{
  text-align: center;
  font-size: 2.0rem;
  color: #000080;
  padding-bottom: 40px;
}

.prof_contents{
  border: 1px solid #000080;
  border-radius: 5px;
  padding:40px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 2px 3px 3px;
  margin-bottom: 100px;
}

.prof_contents p{
  font-size: 1.5rem;
  line-height: 60px;
  text-align: center;
  font-weight: bold;

}

.prof_image{
  width: 80%;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height:200px;
  text-align: center;
}

.prof_image p{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  max-width: 300px;
  border: 1px solid #000080;
  border-radius: 5px;
  box-shadow: 2px 3px 3px;
  margin-top: 10px;
  margin-left: 20px;
  max-width:200px;
}

.right_image{
  width:100px;
}

.lp_image{
  width: 150px;
}



.history h1{
  text-align: center;
  font-size: 2.0rem;
  color: #000080;
  margin-bottom: 80px;
}

.history_contents{
  background-image: url(https://github.com/fumiya9107/fumiya-lp/blob/main/mountain_00002.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:500px;
  margin-bottom: 80px;
}

.history_visual_contents{
  width:90%;
  margin: 0 auto;
  padding-top: 40px;
}

.history_visual_contents p{
  font-size: 1.5rem;
  line-height: 35px;
}

.history1{
  padding-bottom: 20px;
  font-weight: bold;
}

.history2{
  padding-bottom: 20px;
  font-weight: bold;
}

.history3{
  padding-bottom: 20px;
  font-weight: bold;
}

.history4{
  padding-bottom: 20px;
  font-weight: bold;
}

.history5{
  padding-bottom: 20px;
  font-weight: bold;
}

.history_contents2{
  background-image: url(image/deb4b4ffacd1eabe76e211ceced18dcb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:700px;
  margin-bottom: 80px;
}

.history_visual_contents2{
  width:90%;
  margin: 0 auto;
  padding-top: 40px;
}

.history_visual_contents2 p{
  font-size: 1.5rem;
  line-height: 35px;
}

.history_lp h1{
  text-align: center;
  font-size: 2.0rem;
  color: #000080;
  margin-bottom: 80px;
}

.consal{
  margin-bottom: 200px;
}

.consal h1{
  text-align: center;
  font-size: 2.0rem;
  color: #000080;
  margin-bottom: 50px;
}

.consal_contents{
  display: flex;
  width: 80%;
  margin: 0 auto;
}


.consal_visual_contents{
  margin-left: 10px;
  margin-top: 30px;
}

.consal_visual_contents img{
  width:120px;
}

.consal_detail{
  text-align: center;
}

.consal_detail p{
  padding-top: 5px;
  font-size: 1.2rem;
}

.consal_text{
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
  box-shadow: 2px 3px 3px rgba(85, 85, 85, 0.452);
  padding:20px;
  font-size: 1.5rem;
}

.q_and_a{
  margin-bottom: 150px;
}

.q_and_a h1{
  text-align: center;
  font-size: 2.0rem;
  color: #000080;
  margin-bottom: 50px;
}

.q_and_a_contents{
  width: 50%;
  margin: 0 auto;
}
.q_and_a_contents p{
  margin: 0 30px;
  font-size: 1.5rem;
}

.question{
  padding-bottom: 20px;
}
.question span{
  color:#000080;
  padding-right: 10px;
}

.answer{
  padding-bottom: 50px;
}
.answer span{
  color:red;
  padding-right: 10px;
}

.footer{
  background: #000080;
}

@media (min-width:768px) {
  .recomend{
    height: 600px;
  }

  .history_contents{
    height:700px;
  }

  .prof_image p{
    margin-top: 20px;
  }

  .right_image{
    width:150px;
  }

  .lp_image{
    width: 200px;
  }

  .history_contents{
    height:400px;
  }

  .history_visual_contents{
    padding-top: 30px;
  }
  .history_visual_contents p{
    font-size: 2.0rem;
  }

  .history_contents2{
    height:600px;
  }

  .history_visual_contents2{
    padding-top: 30px;
  }
  .history_visual_contents2 p{
    font-size: 2.0rem;
  }


}

@media (min-width:1200px){
  .step_contents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .prof_image p{
    margin-top: 40px;
  }

  .right_image{
    width:200px;
  }

  .lp_image{
    width: 250px;
  }

  .history_visual_contents2{
    padding-top: 60px;
  }


}




a{
  text-decoration: none;
}
